<Modal Visible="@Visible" VisibleChanged="@VisibleChanged">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @ChildContent
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">@CancelButtonText</Button>
            <Button Color="Color.Primary" Clicked="@HandleSubmit" Loading="@Loading">@SubmitButtonText</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public EventCallback HandleSubmit { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string CancelButtonText { get; set; } = "Cancel";

    [Parameter]
    public string SubmitButtonText { get; set; } = "Submit";

    [Parameter]
    public bool Loading { get; set; }

    private void HideModal()
    {
        Visible = false;
        VisibleChanged.InvokeAsync(Visible);
    }

}