@page "/MatchDetailView/{matchId:int}"
@inherits MatchDetailViewBase

@rendermode InteractiveServer

@if (match != null)
{
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="1rem">
        <RadzenRow>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Outlined/Default" Style="width: 100%;">
                    <RadzenDatePicker TValue="DateTime" Value=@match.MatchDate Change="@(args => match.MatchDate = args!.Value)" Name="RadzenDatePickerChangeEvent" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Filled" Variant="Variant.Filled" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@clubId Data=@clubs TextProperty="@nameof(ClubModel.ClubName)" ValueProperty="@nameof(ClubModel.ClubId)" Style="width: 100%; max-width: 400px;" Name="DropDownTextValueProperties" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Filled" Variant="Variant.Filled" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@match.CourseDetailId Data=@clubCourses TextProperty="@nameof(CourseInfo.CourseText)" ValueProperty="@nameof(CourseInfo.CourseDetailId)" Style="width: 100%; max-width: 400px;" Name="DropDownTextValueProperties" />
                </RadzenFormField>
            </RadzenColumn>
@* 
            <RadzenFormField class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-12">
                    <RadzenLabel Text="Match Date" Component="RadzenDatePickerChangeEvent" />
                    <RadzenDatePicker TValue="DateTime" Value=@match.MatchDate Change="@(args => match.MatchDate = args!.Value)" Name="RadzenDatePickerChangeEvent" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem" class="rz-p-sm-12">
                    <RadzenLabel Text="Klub" Component="DropDownChangeEvent" />
                    <RadzenDropDown @bind-Value=@clubId Data=@clubs TextProperty="@nameof(ClubModel.ClubName)" ValueProperty="@nameof(ClubModel.ClubId)" Style="width: 100%; max-width: 400px;" Name="DropDownTextValueProperties" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem" class="rz-p-sm-12">
                    <RadzenLabel Text="Klub" Component="DropDownChangeEvent" />
                    <RadzenDropDown @bind-Value=@match.CourseDetailId Data=@clubCourses TextProperty="@nameof(CourseInfo.CourseText)" ValueProperty="@nameof(CourseInfo.CourseDetailId)" Style="width: 100%; max-width: 400px;" Name="DropDownTextValueProperties" />
                </RadzenStack>
            </RadzenFormField> *@

            <RadzenColumn Size="12" SizeMD="6" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow>

@*             <EditForm Model="@match" OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInValidSubmit">

                <div class="row mb-3">
                    <label for="matchDate" class="col-form-label col-md-3">Match dato: </label>
                    <div class="col-md-8">
                        <InputDate id="lastName" @bind-Value="@match.MatchDate" 
                            class="form-control col-md-8" placeholder="Match dato"></InputDate>
                    </div>
                    <ValidationMessage class="offset-md-3 col-md-8" For="@(() => match.MatchDate)" />
                </div>
                <div class="row mb-3">
                    <label for="Name" class="col-form-label col-md-3">Tekst: </label>
                    <div class="col-md-8">
                        <InputText id="lastName" @bind-Value="@match.MatchText"
                               class="form-control col-md-8" placeholder="Tekst"></InputText>
                    </div>
                    <ValidationMessage class="offset-md-3 col-md-8" For="@(() => match.MatchText)" />
                </div>
                <div class="row mb-3">
                    <label for="Sponsor" class="col-form-label col-md-3">Sponsor</label>
                    <div class="col-md-8">
                        <InputText id="Sponsor" @bind-Value="@match.Sponsor"
                               class="form-control col-md-8" placeholder="Sponsor"></InputText>
                    </div>
                    <ValidationMessage class="offset-md-3 col-md-8" For="@(() => match.MatchText)" />
                </div>
                <div class="row mb-3">
                    <label for="matchform" class="col-form-label col-md-3">Matchform:</label>
                    <div class="col-md-8">
                        <InputSelect id="matchform" class="form-select col-md-8" @bind-Value="@match.MatchformId">
                            @foreach (var item in matchForms)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="club" class="col-form-label col-md-3">Klub:</label>
                    <div class="col-md-8">
                        <InputSelect id="course" class="form-select col-md-8"
                             Value="@match.ClubId"
                             ValueExpression="@(()=>match.ClubId)"
                             ValueChanged="@((int value) => OnClubChanged(value))">
                            @foreach (var item in clubs)
                            {
                                <option value="@item.ClubId">@item.ClubName</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="course" class="col-form-label col-md-3">Bane:</label>
                    <div class="col-md-8">
                        <InputSelect id="course" class="form-select col-md-8" @bind-Value="@match.CourseDetailId">
                            @foreach (var item in clubCourses)
                            {
                                <option value="@item.CourseDetailId">@item.CourseText</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            <div class="row mb-3">
                <label for="Official" class="col-form-label col-md-3">Tællende</label>
                <div class="col-md-3">
                    <InputCheckbox id="Official" @bind-Value="@match.Official"
                            class="form-check-input" placeholder="Sponsor"></InputCheckbox>
                </div>
                <label for="Shootout" class="col-form-label col-md-3">Shoot out</label>
                <div class="col-md-3">
                    <InputCheckbox id="Shootout" @bind-Value="@match.Shootout"
                            class="form-check-input"></InputCheckbox>
                </div>
            </div>
                <button type="submit" class="btn btn-primary me-1">Gem match</button>

            </EditForm>
 *@        </RadzenRow>
    </RadzenStack>
}
