@page "/MatchListView"
@inherits MatchListViewBase


@rendermode InteractiveServer

<PageTitle>Matches</PageTitle>

<h1>Matcher</h1>

@if (matches == null)
{
    <div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"><DisplaySpinner/></div>
}
else
{

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button Class="btn btn-warning" @onclick="ChangeMatchFilter">@matchFilter</button>
@*             <AuthorizeView>
                <Authorized>
                    <a class="btn btn-primary ms-auto" href="@RouteUtils.MatchDetailView(-1)">New match</a>
                </Authorized>
            </AuthorizeView> *@
        </div>
    </nav>

    <div class="container">
        <div class="row py-5">
            <RadzenDataGrid @ref="matchGrid" AllowFiltering="false" FilterMode=FilterMode.Simple AllowPaging="false" AllowSorting="true"
                            Data="@matches" TItem="MatchModel" AllowVirtualization="true" AllowColumnResize="true">
            <HeaderTemplate>
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Ny match" Click="@(args => OpenMatch(-1))" />
            </HeaderTemplate>

            <Columns>
                <RadzenDataGridColumn TItem="MatchModel" Property="MatchDate" Title="Dato" Width="8rem">
                    <Template Context="data">
                        @(data.MatchDateDisplay)
                    </Template>
                </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="MatchModel" Property="CourseText" Title="Bane" Width="12rem" />
                    <RadzenDataGridColumn TItem="MatchModel" Property="Matchform" Title="Match form" Width="12rem" />
                    <RadzenDataGridColumn TItem="MatchModel" Property="Tee" Title="Tee" Width="10rem" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="MatchModel" Property="Official" Title="Officiel" Width="10rem" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        @if (data.Official)
                        {
                            <div>
                                    <RadzenIcon Icon="check_circle" />
                            </div>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="MatchModel" Property="Shootout" Title="Shootout" Width="10rem" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        @if (data.Shootout)
                        {
                            <div>
                                    <RadzenIcon Icon="ads_click" />
                            </div>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Context="match" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true">
                    <Template Context="match">
                            <RadzenButton Icon="edit" Click="@(args => OpenMatch(match!.MatchId))" ButtonStyle="ButtonStyle.Success" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        </div>
    </div>
}

@* 
<RadzenDialog @ref="editDialog" Width="600px" Height="400px">
    <Content>
        <!-- Your Dialog Content Here -->
        <MatchDetailView MatchId="@matchModel.MatchId" />
    </Content>
</RadzenDialog> *@