@page "/forgotpassword"
@using MSCaddie.Shared.Models
@inject HttpClient httpClient


<div class="row">
    <EditForm class="col-lg-4 offset-lg-3 pt-4 pb-4 border" Model="@request"
        OnValidSubmit="@HandleValidSubmit"  
        OnInvalidSubmit="@HandleInValidSubmit">
        <DataAnnotationsValidator />

        <div class="mb-4 text-center">
            <h3>Nulstil password</h3>
            <span>Indtast den email adr. du har registreret dig med. Så får du en email med et link til at nulstille dit password.</span>
        </div>
        <div class="mb-4">
            <label>Email</label>
            <input @bind="request.Email" class="form-control" placeholder="Indtast email" />
            <ValidationMessage class="offset-md-1 col-md-8 text-danger" For="@(() => request.Email)" />
        </div>
        <div class="mb-4 d-grid gap-2">
            <button type="submit" class="btn btn-primary">Nulstil</button>
        </div>
        <p>@status</p>
        <p class="text-danger">@message</p>
    </EditForm>
</div>

@code {
    private ForgotPasswordRequest request = new();
    string message = string.Empty, status = string.Empty;

    protected async Task HandleValidSubmit()
    {
        message = string.Empty;
        status = string.Empty;
        var res = await httpClient.PostAsJsonAsync("/api/auth/forgotpassword", request);

        RequestResult result = await res.Content.ReadFromJsonAsync<RequestResult>();
        if (res.IsSuccessStatusCode)
        {
            if (result.Success)
            {
                status = result.Message;
            }
        }
        else
        {
            message = result.Message;
        }
    }

    protected async Task HandleInValidSubmit()
    {
    }
}
