@page "/MatchResult/{matchId:int}"
@inherits MatchResultViewBase


<CascadingValue Value="this">
<PageTitle>Match Resultat</PageTitle>

@if (Match is not null)
{
    <h4>@Match.MatchDate.ToString("dd MMM, yyyy"), @Match.CourseName - @Match.Matchform</h4>

    <Tabs SelectedTab="@_selectedTab" SelectedTabChanged="@OnSelectedTabChanged" RenderMode="TabsRenderMode.LazyReload">
        <Items>
            <Tab Name="Results">Resultater</Tab>
                @if (CommonExtensions.IsDebug())
                {
                    <Tab Name="Registration">Registrering</Tab>
                }
                else {
                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Presidium}")">
                        <Tab Name="Registration">Registrering</Tab>
                    </AuthorizeView>
                }
                <Tab Name="OtherResults">Øvrige</Tab>
        </Items>
        <Content>
            <TabPanel Name="Registration">
                <PlayerResult Match="Match"></PlayerResult>
            </TabPanel>            
            <TabPanel Name="Results" @onclick=@( () => ResultListClicked())>
                <ResultList Match="Match"></ResultList>
            </TabPanel>
            <TabPanel Name="OtherResults">
                <OtherResults Match="Match"></OtherResults>
            </TabPanel>
        </Content>
    </Tabs>
}
    @ChildContent
</CascadingValue>


