@page "/MatchListView"
@using MSCaddie.Client.Utils
@using MSCaddie.Shared
@using MSCaddie.Shared.Dtos
@inherits MatchListViewBase

@inject HttpClient Http

<PageTitle>Matches</PageTitle>

<h1>Matches</h1>
@*<p>
    @Message
</p>*@
@if (matches == null)
{
@*     <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"><DisplaySpinner/></Div>
 *@}
else
{
@*     <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Default">
        <BarMenu>
            <BarStart>
            </BarStart>
            <BarEnd>
                <BarItem>
                    <Check TValue="bool" @bind-Value="@allSeason" @onchange="AllSeasonChanged">Alle matcher</Check>
                </BarItem>
                <BarItem>
                    <Button Margin="Margin.IsAuto.FromStart" Color="Color.Default" Outline Type="ButtonType.Link" To="@RouteUtils.MatchDetailView(-1)">New match</Button>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar> *@

    <section>
        <table class="table">
           <thead>
                <tr>
                    <th>Dato</th>
                    <th>Bane</th>
                    <th>Tee</th>
                    <th>Officiel</th>
                    <th>Shootout</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in matches)
                {
                    <tr>
                        <td>@match.MatchDate.ToString("dd. MMM, yyyy")</td>
                        <td>@match.CourseText</td>
                        <td>@match.Tee</td>
                        <td style="text-align: center">
                            @if (match.Official)
                            {
                                <Icon Name="@("fa-dollar-sign")" />
                            }
                        </td>
                        <td style="text-align: center">
                            @if (match.Shootout)
                            {
                                <Icon Name="@("fa-dollar-sign")" />
                            }
                        </td>
                        @if (CommonExtensions.IsDebug())
                        {   <td>
                                <a href="@RouteUtils.MatchResultView(@match.MatchId)" class="btn btn-primary table-btn">
                                    <Icon Name="@("fa-file-alt")" />
                                </a>
                            </td>
                        }
                        else {
                            <AuthorizeView>
                                <Authorized>
                                <td>
                                    <a href="@RouteUtils.MatchResultView(@match.MatchId)" class="btn btn-primary table-btn">
                                        <Icon Name="@("fa-file-alt")" />
                                    </a>
                                    <a href="@RouteUtils.MatchDetailView(@match.MatchId)" class="btn btn-primary table-btn">
                                        <Icon Name="@("fa-edit")" />
                                    </a>
                                </td>
                                </Authorized>
                                <NotAuthorized>
                                    <td></td>
                                </NotAuthorized>
                            </AuthorizeView>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </section>
}


