@page "/MatchPlayView"
@using MSCaddie.Shared.Dtos;
@inherits MatchPlayViewBase

<h3>Hulspil</h3>

@if (allMatches != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Hold 1</th>
                <th>Hold 2</th>
                <th>Resultat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in allMatches)
            {
                <tr>
                    <td>@match.TeamName1</td>
                    <td>@match.TeamName2</td>
                    <td>@match.ResultText</td>
                    <td><button class="btn btn-primary" @onclick="() => EditObject(match.LeagueMatchId)">Edit</button></td>
                </tr>
                }
            </tbody>
        </table>
} 


@* 
    <DataGrid TItem="LeagueMatch"
        Data="allMatches"
        Editable
        Sortable
        SortMode="DataGridSortMode.Single"
        ShowPager
        ShowPageSizes
        Resizable
        Responsive
        Bordered
        Hoverable
        Narrow
          ResizeMode="TableResizeMode.Columns"
          NewItemCreator="() => new LeagueMatch()">
        <DataGridColumns>
        <DataGridColumn Field="@nameof(LeagueMatch.TeamName1)" Caption="Hold 1"
                                    Editable
            ></DataGridColumn>
            <DataGridColumn Field="@nameof(LeagueMatch.TeamName2)" Caption="Hold 2"    
        Editable
            ></DataGridColumn>
            <DataGridColumn Field="@nameof(LeagueMatch.ResultText)" Caption="Resultat"
                                    Editable
            ></DataGridColumn>
            <DataGridCommandColumn  
        PreventRowClick
            >
            <NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </EditCommandTemplate>
            <SaveCommandTemplate>
                <Button Type="ButtonType.Submit"  
                Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <DeleteCommandTemplate>
                    <Button Color="Color.Danger" Clicked="@ShowMatchPlayResult">@context.LocalizationString</Button>
            </DeleteCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
            <ClearFilterCommandTemplate>
                <Button Color="Color.Warning" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </ClearFilterCommandTemplate>
            </DataGridCommandColumn>
        </DataGridColumns>
        </DataGrid>
 }
 *@