@inherits ResultListBase
@page "/match/{MatchId:int}/resultList"

<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01"> 
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <button class="btn btn-primary my-2 my-sm-0" type="button" @onclick="() => OnButtonClick(ResultAction.All)">Alle resultater</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-info my-2 my-sm-0" type="button" @onclick="() => OnButtonClick(ResultAction.A)">A rækken</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary my-2 my-sm-0" type="button" @onclick="() => OnButtonClick(ResultAction.B)">B rækken</button>
                </li>
            </ul>
           <form class="d-flex">
                <button class="btn btn-secondary my-2 my-sm-0" type="button" @onclick="() => OnButtonClick(ResultAction.B)">Afslut match</button>
            </form>
        </div>
    </div>
</nav>

@if (filteredResults == null)
{
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"><DisplaySpinner /></Div>
}
else
{
    <RadzenDataGrid @ref="grid" AllowColumnResize="true"
                    AllowSorting="true" Data="@filteredResults">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(MatchResult.No)" Title="Nr" Width="20px" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.VgcNo)" Title="Vgc nr." FormatString="{0:d}" TextAlign="TextAlign.Center" Width="20px" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Fullname)" Title="Navn" FormatString="{0:d}" TextAlign="TextAlign.Start" Width="180px" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Hcp)" Title="Hcp" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Hallington)" Title="Resultat" FormatString="{0:d}" Visible="Match.IsHallington" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Brutto)" Title="Brutto" FormatString="{0:d}" Visible="Match.IsStrokePlay" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Netto)" Title="Netto" FormatString="{0:d}" Visible="Match.IsStrokePlay" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Points)" Title="Stableford" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.Puts)" Title="Puts" Visible="Match.IsStrokePlay" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(MatchResult.DamstahlPoints)" Title="Midspar" TextAlign="TextAlign.Center" />
        </Columns>
    </RadzenDataGrid>
}

