@page "/MatchDetailView/{matchId:int}"
@inherits MatchDetailViewBase

@rendermode InteractiveServer

@if (match != null)
{
    <RadzenTemplateForm Data="@match" Submit="@((MatchModel args) => { Submit(args); })">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start" Wrap="FlexWrap.Wrap" Gap="1rem">
        <RadzenRow AlignItems="AlignItems.Start">
            <RadzenColumn Size="12" >
                <RadzenFormField Text="Dato" Variant="Variant.Outlined">
                    <RadzenDatePicker TValue="DateTime" Value=@match.MatchDate 
                        Change="@(args => match.MatchDate = args!.Value)" 
                        Name="RadzenDatePickerChangeEvent"
                        DateFormat="yyyy-MM-dd" />
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>
         <RadzenRow>
            <RadzenColumn Size="12">
                <RadzenFormField Text="Tekst" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@match.MatchText Data=@matchTexts Style="width: 100%; max-width: 400px;" Name="DropDownEdit1">
                        <ValueTemplate Context="MatchModel">
                            <RadzenTextBox @bind-Value=@match.MatchText Style="width:120%; height:120%; margin:-15px" aria-labelledby="DropDownEdit1" />
                        </ValueTemplate>
                    </RadzenDropDown>
                </RadzenFormField>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Klub" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@match.ClubId Data=@clubs
                                    TValue="int"
                                    TextProperty="@nameof(ClubModel.ClubName)" 
                                    ValueProperty="@nameof(ClubModel.ClubId)"
                                        Change="@(args => OnClubChanged((int)args))"
                                    Style="width: 100%; max-width: 400px;" 
                                    Name="DropDownTextValueProperties" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Bane" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@match.CourseDetailId Data=@clubCourses TextProperty="@nameof(CourseInfo.CourseText)" ValueProperty="@nameof(CourseInfo.CourseDetailId)" Style="width: 100%; max-width: 400px;" Name="DropDownTextValueProperties" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Match form" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@match.MatchformId Data=@matchForms
                                    TextProperty="@nameof(ListEntry.Value)" ValueProperty="@nameof(ListEntry.Key)"
                                    Style="width: 100%; max-width: 400px;" Name="DropDownTextValueProperties" />
                </RadzenFormField>
            </RadzenColumn >
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenRow>
                    <div class="rz-my-2">
                        <RadzenLabel Text="Tællende" Component="CheckBox1" class="rz-mx-2" />
                        <RadzenCheckBox @bind-Value=@match.Official Name="CheckBox1" />
                    </div>
                    <div class="rz-my-auto">
                        <RadzenLabel Text="Shoot out" Component="CheckBox1" class="rz-mx-2" />
                        <RadzenCheckBox @bind-Value=@match.Shootout Name="CheckBox1" />
                    </div>
                </RadzenRow>
            </RadzenColumn>

            <RadzenColumn Size="12">
                <RadzenFormField Text="Sponsor" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenDropDown @bind-Value=@match.Sponsor Data=@sponsorNames Style="width: 100%; max-width: 400px;" Name="DropDownEdit1">
                        <ValueTemplate Context="MatchModel">
                            <RadzenTextBox @bind-Value=@match.Sponsor Style="width:120%; height:120%; margin:-15px" aria-labelledby="DropDownEdit1" />
                        </ValueTemplate>
                    </RadzenDropDown>
                </RadzenFormField>
            </RadzenColumn>

        </RadzenRow>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Medium" Icon="save" Text="Opdater" ButtonStyle="ButtonStyle.Success" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" Text="Fortryd" ButtonStyle="ButtonStyle.Base" Style="width: 120px" />
    </RadzenStack>
    </RadzenTemplateForm>
}

@if (Message != null)
{
    <RadzenBody>
        <div class="rz-p-4">
            @Message
        </div>
    </RadzenBody>

}