@page "/MemberDetailView/{playerId:int}"
@inherits MemberDetailViewBase

@rendermode InteractiveServer

@if (player != null)
{
    <RadzenTemplateForm Data="@player" TItem=PlayerModel Submit="@OnSubmit">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start" Wrap="FlexWrap.Wrap" Gap="1rem">

         <RadzenFieldset Text="Nyt medlem" Visible="@(playerId < 0)">
            <RadzenStack  Gap="1rem">
                <RadzenRow AlignItems="AlignItems.End">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenLabel Text="Credit Card" />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenDropDown @bind-Value="player.VgcNo" AllowClear="true" Placeholder="Vælg medlem"
                                            Data="@NonMembers" Style="width: 100%;" TValue="int"
                                Change="@(args => OnPlayerChanged((int)args))"
                                TextProperty="Fullname" ValueProperty="VgcNo" ></RadzenDropDown>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenStack>
         </RadzenFieldset>

         <RadzenRow>
            <RadzenColumn Size="6">
                <RadzenFormField Text="VGC Nr." Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenNumeric @bind-Value=@player.VgcNo InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "enter value" } })" />
                </RadzenFormField>
            </RadzenColumn>
         </RadzenRow>

         <RadzenRow>
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Fornavn" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenTextBox @bind-Value=@player.Firstname  />
                </RadzenFormField>
            </RadzenColumn>

                <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Efternavn" Variant="Variant.Outlined" Style="width: 100%;">
                        <RadzenTextBox @bind-Value=@player.Lastname />
                </RadzenFormField>
            </RadzenColumn>
         </RadzenRow>

         <RadzenRow AlignItems="AlignItems.Start">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Email" Variant="Variant.Outlined" Style="width: 100%;">
                        <RadzenTextBox Name="Email" @bind-Value=@player.Email Style="width: 100%" />
                    <RadzenEmailValidator Component="Email" Text="Provide a valid email address"  />
                </RadzenFormField>
            </RadzenColumn>
         </RadzenRow>

         <RadzenRow>
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Hcp" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenNumeric @bind-Value=@player.HcpIndex />
                </RadzenFormField>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6">
                <RadzenFormField Text="Mobil" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenNumeric @bind-Value=@player.Phone />
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Medium" Icon="save" Text="Opdater" ButtonStyle="ButtonStyle.Success" />
        <RadzenButton Click="@((args) => dialogService.Close(false))" Text="Fortryd" ButtonStyle="ButtonStyle.Base" Style="width: 120px" />
    </RadzenStack>
    </RadzenTemplateForm>
}

@if (Message != null)
{
    <RadzenBody>
        <div class="rz-p-2">
            @Message
        </div>
    </RadzenBody>

}